<ul class="notificator">
  
    <li id="open_notification">
      <%= render partial: "notifications/counter", locals: { counter: notifications_new(current_user).count } %>
    </li>
  <div id="box" class="notifications">
      <ul id="notifications">
        <%= render partial: "notifications/notification", collection: notifications, as: :notification %>
      </ul>
  </div>
</ul>

<script>
  var down = false;
  $('#open_notification').click(function(e){
  var color = $(this).text();
  if(down){
    $('#box').css('height','0px');
    $('#box').css('opacity','0');
    down = false;
  }else{
    $('#box').css('height','auto');
    $('#box').css('opacity','1');
    down = true;
  }
});
</script>
